footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color:rgb(255, 255, 255);
}
  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 200px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 2 / 2 / 3; }
    .div2 { grid-area: 1 / 4 / 2 / 5; }
    .div3 { grid-area: 1 / 6 / 2 / 7; }
    li {
      display: inline;
    }