/* Styles for the footer section */
footer {
  bottom: 0;
  padding-top: 1%;
  padding-bottom: 0.5%;
  background-color: rgb(255, 255, 255);
  
  /* Styles for the parent grid container */
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2vw;
    grid-row-gap: 0px;
    text-align: center;
    
    /* Styles for paragraph elements within the parent */
    p {
      color: #828181;
    }
    
    /* Styles for individual columns in the grid */
    .footer-column-1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .footer-column-2 {
      grid-area: 1 / 2 / 2 / 3;
    }
    .footer-column-3 {
      grid-area: 1 / 3 / 2 / 4;
    }
    
    /* Styles for list items within the parent */
    li {
      display: inline-block;
      padding-right: 1vw;
      color: #828181;
      
      /* Styles for links within list items */
      a {
        color: inherit;
      }
    }
  }
}

/* Media query for screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
  /* Styles for the parent grid container within the media query */
  .parent {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
    }
  }
}